body{
    background-image: url("../imagens/background/home-wallpaper.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    height: 98vh;
    justify-content: center;
    align-items: center;
    overflow: auto;
    /*flex-basis: ; testar depois para ver praq serve*/
}
.conteiner{
    background-color: #ece7df;
    font-weight: bold;
    height: 60vh;
    width: 60vw;
    position: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 18px;
    border: 4px solid #b32846;
    opacity: 90%;
    padding-top: 20px;
    transition: 0.9s;
    
}
legend h1{
    font-size: 52px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bolder;
    border: 4px solid #b32846;
    border-style: ridge;
    display: flex;
    justify-content: center;
    color: #0f1923;
    background-color: #ece7df;
    opacity: 100%;
    border-radius: 19px;
}

.links{
    
    position: relative;
    margin-top: 80px;
    color: #0f1923;
    font-size: 80px;
    text-decoration: coral;
    opacity: 90%;
    transition: 0.9s;

}



